nav {
  background: rgb(185, 1, 1);
  width: 100vw;
  padding: 0.7rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
}
.nav-links a, .cart a {
  text-decoration: none;
  margin-right: 2rem;
  color: rgb(245, 245, 245);
  font-size: 13px;
  display: inline-block;
}
.nav-links a:hover, .cart a:hover {
  text-decoration: underline;
  color: rgb(220, 220, 220);
}
.center-items-v {
  display: flex;
  align-items: center;
}
.nav-links svg, .cart svg {
  margin-right: 5px;
}
.social-links a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  font-size: 13px;
  margin-left: 2rem;
}
.social-links a:hover {
  color: rgb(220, 220, 220);
}
