footer{
    background: rgb(17, 17, 17);
    color: #fafafa;
    padding: 3rem 3rem 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
}
.footer-details{
    display: flex;
    justify-content: space-between;
}
.copyright{
    text-align: center;
    font-size: 14px;
    color: rgb(175, 175, 175);
}